<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
    <title>EDIT POST</title>
</head>
<body>
    <h1>EDIT POST</h1>
    <h2>  ID: <%= post.id %></h2>
 <h2> USERNAME: <%= post.username %></h2>
 <form method="POST" action="http://localhost:3000/posts/<%= post.id%>?_method=PATCH">
    <textarea name="content" id="content" cols="30" rows="10"><%= post.content %></textarea>
    <button type="submit">submit</button>
 </form>

</body>
</html>